/*styles*/
body {
    background-color:rgb(255,216,89);
}
p {
    color:rgb(34,18,31);
}
h1 {
    color:rgb(155,62,57);
}
h2{
    color:rgb(229,102,49);
}
th {
    color:rgb(53,29,43);
}
td {
    color: rgb(155,62,57);
}
table {
    float:left;
    width:70%;
}