/*styles*/
/* color catalog refrence from renae clark
mimosa rgb(225,216,89)
tangerine rgb(249,151,52)
flame rgb(229,102,49)
chestnut rgb(155,62,57)
dark brown rgb(53,29,43)
black rgb(34,18,31)
I also want to make sure that I have some moving elements in the pages. this will be updated as I learn how to add those elements to the page.

*/
body {
    background-color:rgb(255,216,89);
}
p {
    color:rgb(34,18,31);
    font-family: sans-serif;
}
h1 {
    background-color: rgb(155,62,57);;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
h2{
    color:rgb(229,102,49);
    font-style: italic;
}
th {
    color:rgb(53,29,43);
    font-style: italic;
}
td {
    color: rgb(155,62,57);
    font-family: monospace;
}
/* need to ensure the floating elements are correctly working- was having some issues with them formatting correctly
*/
ul {
    float:right:
    width: 15%;
}
/*
working on adding grouping to attrubutes in CSS
*/
.home-picture, .food-picture {
    border: ridge rgb(155,62,57);
    float: left;
}