/*styles*/
body {
    background-color:rgb(255,216,89);
}
p {
    color:rgb(34,18,31);
    font-family: sans-serif;
}
h1 {
    color:rgb(155,62,57);
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    color:rgb(229,102,49);
    font-style: italic;
}
th {
    color:rgb(53,29,43);
}
td {
    color: rgb(155,62,57);
    font-family: monospace;
}
ul {
    float:right:
    margin-right: 10px;
    width: 15%;
}
.home-picture {
    border: ridge rgb(34,18,31);
}
.food-picture {
    border: solid rgb(34,18,31);
}